.timeline {
	display: flex;
	max-width: 650px;
	min-width: 650px;
	flex-direction: column;
	height: 100%;
	margin-right: 20px;
  	flex: 1;
	overflow-y: auto;
	border-right: 1px solid rgb(47, 51, 54);
	/* overflow: visible; */
}

.header {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-evenly;
	position: sticky;
	top: 0;
	z-index: 1000;
	height: 50px;
	width: 100%;
	max-width: 650px;
	/* min-width: 300px; */
	background-color: rgba(0, 0, 0, 0.652);
	backdrop-filter: blur(5px);
	border-bottom: 1px solid rgb(47, 51, 54);
}

.header-link {
	display: flex;
	justify-content: space-around;
	text-decoration: none;
	color: rgb(168, 168, 168);
	font-family: Arial;
	font-size: 16px;
	font-weight: bold;
	padding: 14px 0;
	transition: background-color 0.15s;
	flex: 1;
}

.header-link:hover {
	background-color: rgb(38, 38, 38);
}

.active {
	color: white;
	border-bottom: 4px solid rgb(29, 155, 240);
}

.post-tweet {
	display: flex;
	flex-direction: row;
	width: 100%;
	max-width: 650px;
	/* min-width: 300px; */
	height: 110px;
	border-bottom: 1px solid rgb(47, 51, 54);
	padding: 10px;
}

.avatar-picture-container {
	display: flex;
	flex-direction: column;
	width: 45px;
}

.avatar-picture-container img {
	height: 45px;
	width: 45px;
	border-radius: 23px;
}

.icons-container {
	display: flex;
	flex-direction: column;
	row-gap: 10px;
	margin-left: 10px;
	width: 100%;
}

.input-text {
	height: 45px;
	width: 100%;
	background-color: transparent;
	font-size: 20px;
	color: white;
	border: none;
}

.input-text:focus {
	outline: none !important;
	box-shadow: none;
}

.icons {
	display: flex;
	flex-direction: row;
	align-items: center;
	flex: 1;
}

.icon-container {
	display: flex;
	flex: 1;
	align-items: center;
	column-gap: 20px;
	margin-left: 10px;
	/* justify-content: space-between; */
}

.icon {
	background-color: transparent;
	border: none;
	cursor: pointer;
}

.icon i {
	color: rgb(29, 155, 240);
	font-size: 12px;
	position: static;
}

.buttons {
	display: flex;
	flex-direction: column;
	flex: 1;
	align-items: flex-end;
}

.post-tweet-btn {
	margin-right: 20px;
	padding: 10px 20px;
	background-color: rgb(29, 155, 240);
	border-radius: 25px;
	color: white;
	font-weight: bold;
	cursor: pointer;
	font-family: Arial;
}

.new-tweets {
	display: flex;
	border-bottom: 1px solid rgb(47, 51, 54);
	height: 50px;
	width: 100%;
	max-width: 650px;
	/* min-width: 300px; */
	align-items: center;
	flex-shrink: 0;
	justify-content: center;
}

.new-tweets button {
	width: 100%;
	height: 100%;
	background-color: transparent;
	border: none;
}

.new-tweets p {
	color: rgb(29, 155, 240);
	font-family: Arial;
	font-size: 18px;
}

.new-tweets button:hover {
	background-color: rgba(30, 29, 29, 0.285);
}

.news {
	display: flex;
	flex-direction: row;
	height: auto;
	max-height: 700px;
	width:100%;
	max-width: 650px;
	/* min-width: 300px; */
  /* flex-shrink: 1; */
	border-bottom: 1px solid rgb(47, 51, 54);
	/* flex-grow: 0; */
	padding: 10px;
}

.news:hover {
	background-color: rgba(30, 29, 29, 0.285);
}

.post-content-container {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	margin-left: 10px;
	/* flex-shrink: 1; */
	width: 100%;
  min-width: 200px;
}

.author-container {
	display: flex;
	flex-direction: row;
	align-items: center;
	flex-grow: 1;
	flex-shrink: 1;
}

.author {
	color: white;
	font-family: Arial;
	font-weight: bold;
}

.author-verified-icon {
	margin-left: 10px;
	color: rgb(29, 155, 240);
}

.author-tag {
	color: #8f9193;
	font-family: Arial;
	margin-left: 10px;
}

.post-description-container {
	display: flex;
	height: auto;
	margin-top: 10px;
	margin-bottom: 10px;
	flex-grow: 1;
	flex-shrink: 1;
}

.post-description {
	color: white;
	font-family: Arial;
	font-size: 15px;
	line-height: 1.4;
}

.post-image {
	display: flex;
	border: 1px solid rgb(47, 51, 54);
	border-radius: 15px;
	width: 100%;
	align-items: center;
	justify-content: center;
	margin-bottom: 10px;
}

.post-image img {
	max-width: 572px;
  min-width: 300px;
	border-radius: 15px;
}

.post-actions {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	margin-top: 10px;
	width: 100%;
}

.action-icon {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-start;
	flex: 1;
	background-color: transparent;
	border: none;
}

.action-icon p {
	color: white;
	margin-left: 10px;
}

.book-share-container {
	display: flex;
	flex-direction: row;
	width: 70px;
	padding-left: 25px;
}

.share {
	padding-left: 10px;
}

@media (max-width: 740px) {
	.timeline {
		/* min-width: 300px; */
		flex-grow: 1;
		width: 100%;
	}


}
