.trending {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	padding-top: 60px;
	flex: 1;
	border-left: 1px solid rgb(47, 51, 54);
	height: 100%;
}

.subcribe-to-premium {
	display: flex;
	flex-direction: column;
	border: 1px solid rgb(47, 51, 54);
	border-radius: 15px;
	width: 380px;
	margin-left: 30px;
	margin-bottom: 15px;
	padding: 15px 20px;
}

.title {
	color: white;
	font-size: 22px;
	font-family: Arial;
	font-weight: bold;
	margin-bottom: 5px;
}

.description {
	color: white;
	font-size: 16px;
	margin-bottom: 8px;
	font-family: Arial;
}

.subscribe-btn {
	color: white;
	background-color: rgb(29, 155, 240);
	padding: 8px 18px;
	width: 130px;
	font-size: 16px;
	font-weight: bold;
	border-radius: 30px;
	cursor: pointer;
}

.who-to-follow-section {
	display: flex;
	flex-direction: column;
	border: 1px solid rgb(47, 51, 54);
	border-radius: 15px;
	width: 380px;
	height: 270px;
	margin-left: 30px;
	margin-bottom: 15px;
	padding: 15px 20px;
	justify-content: space-between;
}

.follow-title {
	color: white;
	font-size: 22px;
	font-weight: bold;
	font-family: Arial;
}

.person {
	display: flex;
	align-items: center;
	margin-bottom: 10px;
}

.profile-picture-container {
	width: 50px;
}

.profile-picture {
	height: 45px;
	border-radius: 25px;
}

.account-details {
	display: flex;
	flex-direction: column;
	flex: 1;
}

.username-icon {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.username-icon i {
	margin-left: 10px;
	font-size: 12px;
	color: rgb(29, 155, 240);
}

.username {
	color: white;
	font-size: 17px;
	font-family: Arial;
}

.username-tag {
	color: rgb(130, 130, 131);
	font-family: Arial;
}

.follow-btn-container {
	display: flex;
	flex-direction: column;
	width: 60px;
}

.follow-btn {
	padding: 8px 8px;
	border-radius: 20px;
	border: none;
	color: black;
	background-color: white;
	font-size: 14px;
	font-weight: bold;
	cursor: pointer;
}

.show-more-link a {
	color: white;
	text-decoration: none;
	padding: 5px 10px;
	background-color: rgb(29, 155, 240);
	font-size: 16px;
	font-family: Arial;
	border-radius: 15px;
}

.romania-trends {
	display: flex;
	flex-direction: column;
  row-gap: 20px;
	width: 380px;
	align-items: flex-start;
	justify-content: flex-start;
	border: 1px solid rgb(47, 51, 54);
	border-radius: 15px;
	margin-left: 30px;
	padding: 15px 20px;
}

.ro-trends-title {
	color: white;
	font-family: Arial;
	font-size: 20px;
	font-weight: bold;
	margin-bottom: 25px;
}

.trend {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
  width: 100%;
}

.row {
	display: flex;
	flex-direction: row;
  width: 100%;
}

.trend-title-container {
	width: 100%;
}

.ellipsis-container {
	width: 100%;
  display: flex;
  justify-content: end;
}

.trend-title {
	color: #8f9193;
	font-family: Arial;
	font-size: 14px;
	margin-bottom: 5px;
}

.ellipsis-container i {
	color: #8f9193;
	font-size: 12px;
}

.searched-trend {
	color: white;
	font-family: Arial;
	font-size: 16px;
	font-weight: bold;
	margin-bottom: 5px;
}

.trend-posts {
	color: rgb(143, 145, 147);
	font-size: 14px;
	font-family: Arial;
}
